.rationale {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  margin-top: calc((100vw + 25vh)*0.875*0.1);

  .section {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100vw;
    height: inherit;
    border-top: 1px solid black;

    .image {
      display: flex;
      position: relative;
      min-width: 50vw;
      max-width: 50vw;
      max-height: 60vh;
      height: fit-content;

      img {
        aspect-ratio: auto;
        width: 100%;
        height: auto;

        object-fit: cover;
        image-rendering: crisp-edges;
        filter: brightness(0.85) contrast(1);
      }
    }

    .image::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0.5vw 0.5vw #000000ff;
    }

    .text-section {
      display: flex;
      flex-direction: column;
      min-width: 50vw;
      max-width: 50vw;
      max-height: 60vh;
      height: 100%;
      justify-content: center;
      align-content: center;
      color: #d0d0d0;

      .badstonks {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: calc(50vw);
        height: auto;
        position: relative;
        padding: calc((100vw + 25vh)*0.875*0.005);
        border: 2px solid rgba(175, 108, 108, 0.05);
        box-shadow: inset 0vw 0vw 0.5vw 0.5vw #000000ff;

        svg {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          fill: #af6c6c;
          padding: 0 0;
          margin: 0 0;
        }

        .descriptor {
          display: flex;
          height: auto;
          width: calc(50vw);
          font-size: calc((100vw + 25vh)*0.875*0.005);
          font-weight: bold;
          color: #af6c6c;
          justify-content: space-evenly;
          flex-direction: row;
          text-align: right;
          text-transform: uppercase;
          padding: calc((100vw + 25vh)*0.875*0.005);

          span {
            padding: 1px 4px;
            margin: 0 0;
          }
        }
      }

      .text {
        color: #d0d0d0;
        max-width: calc(50vw*0.6);

        font-size: calc((100vw + 5vh)*0.95*0.009);
        font-weight: normal;
        margin: 0 auto;
        text-align: justify;
        word-break: break-word;
        hyphens: auto;
        font-family: "Times New Roman";
      }

      p::first-letter {
        color: #d0d0d0;
        padding: 0 .2em;
        margin: 0 .2em 0 0;
        border: solid 1px #d0d0d0;
        border-radius: 2px;
        font-size: 2em;
        float: left;
        line-height: 1;
        font-family: "Times New Roman";
      }
    }
  }
}